<p>*ngIf is angular's if directive</p>
<ul>
  <li>
    When selectedHero is undefined, the ngIf removes the hero detail from the
    DOM.
  </li>
  <li>
    There are no selectedHero bindings to consider. In this case we see
    undefined being coerced to false.
  </li>
</ul>

<div *ngIf="hero">
  <p>
    The word uppercase in the interpolation binding, right after the pipe
    operator ( | ), activates the built-in UppercasePipe.
  </p>
  <ul>
    <li>
      <a href="https://angular.io/guide/pipes">Pipes</a> are a good way to
      format strings, currency amounts, dates and other display data. Angular
      ships with several built-in pipes and you can create your own.
    </li>
  </ul>
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <p>[(ngModel)] is Angular's two-way data binding syntax.</p>
    <label
      >name:
      <input [(ngModel)]="hero.name" placeholder="name" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
